/* css for men page */

#men1{
    width: 20%;
    border: 1px black solid;
}
#men2{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 1px black solid;
}
#men{
    display: flex;
    width: 100%;
}

#men2 img{
    width: 210px;
    height: 280px;
}